*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

   .tri{
    
    position:absolute;
    left: -23vh;
    top:-15vh;
    transform: skew(5deg);
    transform: rotate(180deg);
   }
   .tri-1{
    position:absolute;
    right: -28vh;
    top: 40vh;
   }
   .tri3{
    float: right;
    position: relative;
    left: 40vh;
   }
  .circle1 {
    border-radius: 50%;
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #CCFFE5;
  }
  .circle2 {
    border-radius: 50%;
    transform: translate(5%, 5%);
    width: 570px;
    height: 570px;
    background-color:#A8F0CB;
  }
  
  .circle3 {
    border-radius: 50%;
     transform: translate(15%, 15%);
    width: 500px;
    height: 500px;
    background-color: #8DC9AA;
  }
  .container{
    align-items: center;
    justify-content: center;
    border: 1px;
    width: 35%;
    height: 80%;
    margin: 5%;
    box-shadow: 20px 20px 20px 20px grey;
    z-index: 1;
    position: relative;
    background-color: white;
  }
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    margin-top: 20px;
    display: inline-block;
    border: 3px solid #104210;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 40%;
    background-color:#FF4500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 5vh;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #B8390E;
  }
  /* @media only screen and (max-width: 700px) {
    body {
      background-color: black;
    }
  } */
  